/* .navbar{
    flex: 5;
    
    
}

.navbarIcons{
    width: 21px;
    height: 21px;
    margin-left: 12px;
}

.subnavbar{
    display: flex;
    justify-content: space-between;
    background-color: #2D3435;
    width: 94%;
    margin-left: 3.45%;
    height: 50px;
    margin-top: 20px;
    border-radius: 15px;
} */

.nav_bar {
    /* z-index:-1;
    position:absolute; */
    width:100%;
}
.nav_items{
    cursor:pointer;
}
.space_item{
    margin-right:10px
}
.form_spacing{
    margin-right:20px
    
}